wandb/
**__pycache__/
wandb/
*.pyc
*.egg-info
*.log
*.log.*
.deepspeed_env
text_extend/training_output
vision_niah/model_weights
**/**.pt
# **/**.mp4
longva/build
vision_niah/data/haystack_videos
local_demo/cache/