accelerate>=0.28.0
decord>=0.6.0
datasets
evaluate>=0.4.1
tqdm
einops
sentencepiece
scikit-learn
matplotlib
numpy==1.26.4
ring_flash_attn@git+https://github.com/zhuzilin/ring-flash-attention
deepspeed>=0.14.0
transformers>=4.39.1
wandb
seaborn
pandas
pytest
loguru